{% extends '::base.html.twig' %}

{% block content %}

	<div class="titulo">{% trans from "menu" into _locale %} STR_MUSIC {% endtrans %}</div>

	<ul>
		{% for disco in musicas %}
			
			<li>{{ disco.fecha|date('d/m/Y') }} <a href="{{ url('dh_fullmusic',{'id' : disco.id, 'titulo' : disco.titulo|replace({' ':'-'}) } ) }}">{{ disco.titulo }}</a></li>
		
		{% endfor %}
	</ul>

{% endblock %}