{% extends '::base.html.twig' %}

{% block content %}

	<div class="titulo">{% trans from "menu" into _locale %} STR_NEWS {% endtrans %}</div>

	<ul>
		{% for noticia in noticias %}
			
			<li>{{ noticia.fecha|date('d/m/Y') }} <a href="{{ url('dh_fullnew',{'id' : noticia.id, 'titulo' : noticia.titulo|replace({' ':'-'}) } ) }}">{{ noticia.titulo }}</a></li>
		
		{% endfor %}
	</ul>

{% endblock %}