{% extends '::base.html.twig' %}

{% block content %}

	{% include 'DHBundle:Admin:logout.html.twig' %}

	<div class="realContain">
		
		<ul>
			<li><a href="{{ url('dh_admin_news') }}">{% trans from "menu" into _locale %} STR_NEWS {% endtrans %}</a></li>
			<li>{% trans from "menu" into _locale %} STR_MOVIES {% endtrans %}</li>
			<li>{% trans from "menu" into _locale %} STR_MUSIC {% endtrans %}</li>
			<li>{% trans from "menu" into _locale %} STR_GLOSARY {% endtrans %}</li>
		</ul>

	</diV>

{% endblock %}