{% extends '::base.html.twig' %}

{% block content %}

	<div class="contain">

		<h1>{% trans from "content" into _locale %} admin.login {% endtrans %}</h1>


		{% if error %}
		    <div>{{ error.message }}</div>
		{% endif %}
		 
		<center>
		<form action="{{ url('login_check') }}" method="post">

		    <label for="username">{% trans from "content" into _locale %} admin.username {% endtrans %}:</label>
		    <input type="text" id="username" name="_username" value="{{ last_username }}" />
		 
		 	<br><br>

		    <label for="password">{% trans from "content" into _locale %} admin.password {% endtrans %}:</label>
		    <input type="password" id="password" name="_password" />
		 
		    {#
		        añade lo siguiente si quieres redirigir al usuario a una
		        URL concreta después del login (explicado más adelante)
		        <input type="hidden" name="_target_path" value="/account" />
		    #}
		 
		 	<br><br>

		    <button class="boton" type="submit">{% trans from "content" into _locale %} admin.loginEnter {% endtrans %}</button>

		</form>


	</div>

{% endblock %}