
<div class="titulo">{% trans from "content" into _locale %} admin.STR_ADMIN {% endtrans %}
	<div class="logout logoutText">
		<a href="{{ path('logout') }}">
			<div class="logoutText">{% trans from "content" into _locale %} admin.STR_LOGOUT {% endtrans %} </div>
		</a>
	</div>
</div>